@model FitnessGymproject.Models.Testimonial

@{
    ViewData["Title"] = "Create Testimonial";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<section class="justify-content-center align-items-center" style="padding:300px;">
    <h1>Submit Your Testimonial</h1>

    <h4>We'd love to hear your feedback about our gym!</h4>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-3">
                    <input asp-for="MemberId" type="hidden" value="@ViewData["MemberId"]" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Content" class="control-label">Your Feedback</label>
                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

  
</section>
