

@{
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Health & Fitness | Contact Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/HomeDesign/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/HomeDesign/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/slick.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/style.css">
    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>


    <!-- Contact Us Form Start -->
    <div class="container contact-form-container">
        <h2>Contact Us</h2>
        <form method="post" action="/ContactUs/Submit">
            <div class="form-group">
                <label for="FullName">Full Name</label>
                <input type="text" id="FullName" name="FullName" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="Message">Message</label>
                <textarea id="Message" name="Message" rows="4" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
   
    </body>
</html>
