@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Health & Fitness | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/HomeDesign/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/HomeDesign/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/slick.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/HomeDesign/assets/css/style.css">
   <style>
        .header-area {
            background-color: black; /* Makes the header background black */
        }

        
         

<</style>
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/HomeDesign/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="~/HomeDesign/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">


                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInMemberId") != null)
                                        {
                                            <!-- Member is logged in -->
                                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Profile" asp-controller="Members">My Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ViewSubscribedPlans" asp-controller="Members">Subsecribed Workoutpaln</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ViewAvailablePlans" asp-controller="Members">WorkoutPlan</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ViewSubscribedMembershipPlans" asp-controller="MembershipPlans">Subscribed MembershipPlans</a>
                                            </li>
                                           
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Index" asp-controller="Invoices">Invoices</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Logout" asp-controller="LoginAndRegisterController">Logout</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Create" asp-controller="Testimonials">Add Testimonial</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <!-- Member is not logged in -->
                                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Login" asp-controller="LoginAndRegister">Login</a>
                                            </li>
                                            <div class="header-right-btn f-right d-none d-lg-block ml-30">


                                            <li class="nav-item">
                                                <a class="nav-link btn header-btn" asp-action="Register" asp-controller="LoginAndRegister">became a member</a>
                                            </li>

                                </div>
                                        }
                                    </ul>
                                </nav>
                            </div>

                          
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()


    <div class="footer-area section-bg" data-background="/HomeDesign/assets/img/gallery/section_bg03.png">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>COMPANY</h4>
                                <ul>
                                    <li><a href="/Home/AboutUs">About Us</a></li>
                                    <li><a href="/Home/Company">Company</a></li>
                                    <li><a href="/Home/PressAndBlog">Press & Blog</a></li>
                                    <li><a href="/Home/PrivacyPolicy">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Open hour</h4>
                                <ul>
      
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="ViewAvailablePlans" asp-controller="Members">Workout Plan</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="ViewAvailableMembershipPlans" asp-controller="MembershipPlans">AvailableMembershipPlans</a>
                                    </li>

           
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/HomeDesign/assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">The trade war currently ensuing between the US and several nations around the globe, most fiercely with China.</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social">
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add the new links below (you can also customize this section) -->
                

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    @RenderSection("Scripts", false)

    <script src="~/HomeDesign/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/HomeDesign/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/HomeDesign/assets/js/popper.min.js"></script>
    <script src="~/HomeDesign/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/HomeDesign/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/HomeDesign/assets/js/owl.carousel.min.js"></script>
    <script src="~/HomeDesign/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/HomeDesign/assets/js/wow.min.js"></script>
    <script src="~/HomeDesign/assets/js/animated.headline.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/HomeDesign/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/HomeDesign/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/HomeDesign/assets/js/jquery.counterup.min.js"></script>
    <script src="~/HomeDesign/assets/js/waypoints.min.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.countdown.min.js"></script>
    <script src="~/HomeDesign/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/HomeDesign/assets/js/contact.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.form.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.validate.min.js"></script>
    <script src="~/HomeDesign/assets/js/mail-script.js"></script>
    <script src="~/HomeDesign/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/HomeDesign/assets/js/plugins.js"></script>
    <script src="~/HomeDesign/assets/js/main.js"></script>

</body>
</html>